.questions-title h5
{
    color: #FFA477;
    text-align: center;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f5f5f5;
    -webkit-box-shadow: 7px 7px 5px #e6e6e6, -7px -7px 5px #ffffff;
    box-shadow: 7px 7px 5px #e6e6e6, -7px -7px 5px #ffffff;
    padding: 20px 0;
    margin-top: 20px;
}