
.quiz-btn button
{
    background: #eeaa45be;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    color: white;
}
.quiz-btn button svg
{
    margin-left: 5px;
}

.quiz-card
{
    -webkit-border-radius: 50px;
border-radius: 50px;
background: #D1D8EC;
-webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}

.quiz-img
{
    background-color:#D1D8EC;
}

.quiz-para
{
    color:  #ff6565e1;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}

.quiz-title
{
    color: #4c89fa;
}

/* .quiz-btn button
{
    
    font-family: Teko; 
    font-weight: 0; 
    font-size: 16px; 
    color: #ffffff; 
    background: linear-gradient(90deg, #0066CC 0%, #f57e39 100%); 
    padding: 5px 15px; 
    border: none; 
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 22px 50px;
    transition : 327ms;
    transform: translateY(0);
}

.quiz-btn button:hover{ 
    transition : 327ms;
    padding: 5px 20px;
    transform : translateY(-0px);
    background: linear-gradient(90deg, #0066CC 0%, #d62828 100%);
    color: #ffffff;
    border: none;
    } */
   