
.nav{
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background: #fcfcff;
    -webkit-box-shadow: 7px 7px 8px #d6d6d9, -7px -7px 8px #ffffff;
    box-shadow: 7px 7px 8px #d6d6d9, -7px -7px 8px #ffffff;
}

.nav .nav_title{
    color: #ff6565e1;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
}
.nav .nav_title:hover
{
    color: #ff6565e1;
}
.nav a
{
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    color:#ff6565e1;
    font-weight: 600;
}

.nav a:hover
{
    color: #ff6565e1;
}
