.ques
{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    -webkit-border-radius: 50px;
    border-radius: 10px;
    background: #fafafa;
    -webkit-box-shadow: 12px 12px 6px #e6e6e6, -12px -12px 6px #ffffff;
    box-shadow: 12px 12px 6px #e6e6e6, -12px -12px 6px #ffffff;
    padding: 20px;
    margin-top: 30px;
}
.ques h5 svg
{
    margin-left: 10px;
}
.ques-title {
    padding-bottom: 30px;
    font-size: 18px;
    color: #6e6ef7e5;
}

.correctans
{
    background: #efeff1;
    border-radius: 10px;
    box-shadow: inset 16.52px 16.52px 33px #E2E2E4, inset -16.52px -16.52px 33px #FCFCFE;
    padding: 8px 17px;
    margin-top: 20px;
    color: #f1692a;
    font-weight: 600;
    font-size: 14px;
}

/* .icon
{
    margin-right: auto;
} */